/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small touch devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000316}}
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000326}}
.at-mt .at-menu-toggle {
  /* The toggle link */
  /* Menu items */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000328}}
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000330}}
.at-mt .at-menu-toggle h2 a {
  background-color: white;
  border: 2px solid #ccc;
  padding: 2px 10px;
  color: #DD8800;
  font-family: fontawesome;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000337}}
.at-mt .at-menu-toggle h2 a:before {
  content: "\f0c9 ";
  visibility: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000341}}
.at-mt .at-menu-toggle h2 a:active, .at-mt .at-menu-toggle h2 a:hover {
  color: #555;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000349}}
.at-mt .at-menu-toggle ul.menu {
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000352}}
.at-mt .at-menu-toggle ul.menu li {
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000354}}
.at-mt .at-menu-toggle ul.menu li a {
  background-color: white;
  border-bottom: 1px solid #f5f5f5 !important;
  color: #555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000359}}
.at-mt .at-menu-toggle ul.menu li a.menu-401 {
  padding-left: 0;
  text-indent: 0;
}

/* Search form in nav area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000368}}
#edit-search-block-form--2 {
  margin-top: -80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000372}}
.views-exposed-form .views-exposed-widget {
  max-width: 100%;
}

/* Fix for home icon */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000377}}
#block-system-main-menu .first a {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000381}}
#site-name {
  white-space: nowrap;
  max-width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000384}}
#site-name a {
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000386}}
#site-name a:before {
  visibility: visible;
  content: "Urban ARK";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000393}}
#leaderboard-wrapper .container {
  /* width: 95%; */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000397}}
.region-leaderboard #block-search-form {
  max-width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003102}}
#block-block-8,
#block-views-home-block-2 {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003107}}
table.views-view-grid.cols-1 td,
table.views-view-grid.cols-2 td,
table.views-view-grid.cols-3 td,
table.views-view-grid.cols-4 td,
table.views-view-grid.cols-5 td,
table.views-view-grid.cols-6 td {
  width: 95%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003116}}
.view-id-city_cases .flex-caption {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003120}}
#block-block-6 {
  margin: auto;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003125}}
.logoleft,
.logoright {
  float: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Sites\/devdesktop\/urbanark-dev\/docroot\/sites\/all\/themes\/urbanarkat\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003130}}
#block-block-11 {
  display: none;
}

/*# sourceMappingURL=responsive.smalltouch.portrait.css.map */
