
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: $page;
}

body {
  font-family: $sans-serif-arial-helvetica; // Set from _custom.scss font variables
  font-size: 95%;
}


/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.33;
}


p {}


b,
strong {}


i,
em {}


dfn {}


sup {}


sub {}


del {}


ins {}


blockquote {}


cite {}


q {}


address {}


ul {}


ol {}


li {}


dl {}


dd {}


dt {}


abbr {}


acronym {}


pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
}


/* =============================================================================
 *   Wrappers
 * ========================================================================== */

/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */

#page-wrapper {}


#page  {
  &.container {}
}


/*
 * Wraps all header elements - branding and .region-header
 */
.not-front #header {
	display: none;
}

/*
 * Wraps the sidebars the content column
 */
#columns {}


/*
 * Main content column wrapper
 */
#content-column {}


/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
#main-content {}


/*
 * Wraps the content region, avoid applying styles to this wrapper, its used
 * mainly for position and invisible gutters and can be problematic to style
 */
#content {}


/*
 * Footer wrapper
 */
#footer {}


/*
 * Panels may need additional margin wrangling when in the $content region
 */
#content .panel-display {}


/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */

/*
 * Wraps the leaderboard
 */

#leaderboard-wrapper {
	overflow: hidden;
  .container {
	  width: 100%;
	  max-width: 100%;
	  z-index: 999;
	  height: 50px;
	}
	.region-inner {
		background: rgba(255,255,255, .6);
		border-bottom: solid 1px $light;
	}
	.block-inner {
		margin-left: 0;
		margin-right:0;
	}
	#block-block-7 {
		float: left;
	}
}

.admin-menu {
	#leaderboard-wrapper .container {
	/* padding-top: 29px; */
	}
	#overlay-container, .overlay-modal-background, .overlay-element {
	/*	top: 40px; */
	}
}


/*
 * Wraps the header
 */
#header-wrapper {
  background:url(../images/Nairobi_Skyline.jpg) no-repeat center bottom;
}


/*
 * Wraps the nav elements
 */
#nav-wrapper {
	border-bottom: solid 1px $ultralight;
	margin-bottom: 1em;
}


/*
 * Wraps breadcrumb
 */
#breadcrumb-wrapper {
  .container {}
}


/*
 * Wraps messages and help
 */
#messages-help-wrapper {
  .container {}
}


/*
 * Wraps the secondary content/preface region
 */
#secondary-content-wrapper {
	.container {}
}

/*
 * Wraps the main content column
 */
#content-wrapper {
  .container {}
}


/*
 * Wraps the tertiary content/postfix region
 */
#tertiary-content-wrapper {
  .container {}
}


/*
 * Footer wrapper
 */
#footer-wrapper {
	background: $ultralight;

  .container {}
}

/* =============================================================================
 *   Leaderboard
 * ========================================================================== */

.region-leaderboard {
	.iiedlogo {
		height: 49px;
	}
	.block {
		margin-bottom: 0;
	}
}

/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {}


/*
 * Logo
 */
#logo {
  padding: 10px 0;

  img {
    vertical-align: bottom;
  }
}


/*
 * Wrapper for the site name and slogan
 */
#name-and-slogan {}


/*
 * Site name (h1)
 */
#site-name {
  margin: 0;
  font-size: 14px;
  position: relative;
  left: 120px;
  top: -36px;
  a {

    &:link,
    &:visited {
      text-decoration: none;
	  color: $dark;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
	  color: black;
    }
  }
}


/*
 * Site slogan (h2)
 */
#site-slogan {
  color: white;
  display: inline-block;
  padding: 0 5px;
  background-color: $background;
}


/* =============================================================================
 *   Page content header
 * ========================================================================== */

/*
 * Main content header wraps the page title, tabs and actions links
 */
#main-content-header {}


/*
 * The main page title (h1)
 */
#page-title {
  margin: 0;
}


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Feed icons
 */
.feed-icon {}


/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}


.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}


/*
 * Generic styles for the more link
 */
.more-link {
	@extend .tagclouds-term;
	margin: 0 !important;
	a:link, a:visited {
		color: $darkyellow !important;
	}
	a:hover, a:active{
		color: $dark !important;
	}
}


/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
  padding: 0;
}


/*
 * Attribution message and link
 */
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


/* =============================================================================
 *   Regions
 * ========================================================================== */

/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
.region {}


/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
.region-inner {}


/*
 * Regions can be nested, such as when using Panels
 */
.region-inner .region-inner {}


/*
 * Header region, embedded in the #header
 */
.region-header {}


/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
.region-help {}


/*
 * Secondary content
 */
.region-secondary-content {}


/*
 * Sits above the main content header, like a content-top region
 */
.region-highlighted {}


/*
 * Sits below the main content, like a content-bottom region
 */
.region-content-aside {}


/*
 * Sidebars - targets both
 */
.sidebar {}


/*
 * First sidebar
 */
.region-sidebar-first {}


/*
 * Second sidebar
 */
.region-sidebar-second {}


/*
 * Tertiary content
 */
.region-tertiary-content {}


/*
 * Footer region
 */
 #footer {
	 padding: 10px 0;
 }
 
.region-footer {}


/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;

    &:link {
      color: $darkyellow;
	}
	&:visited {
	  color: $lightyellow;
	}
    &:hover,
    &:focus {
	  color: $dark;
      text-decoration: underline;
    }
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

.nav {
  clear: both;
  margin: 10px 0;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a,
  ul.menu li a {
    display: block;
    white-space: nowrap;
    padding: 0 10px;

    &:visited {}

    &:hover,
    &:focus {}
  }

  .block {
    margin-bottom: 0;
  }
}


/* =============================================================================
 *   Superfish
 * ========================================================================== */

ul.sf-menu {
  margin-bottom: 0;

  a {
    border-left: 0;
    border-top: 0;
    padding: 0 10px;
    text-decoration: none;
    height: 2.5em;
    line-height: 2.5em;

    &:link,
    &:visited {}
  }

  li {
    &:hover,
    &.sfHover {
      outline: 0;
    }
  }

  a {
    &:focus,
    &:hover,
    &:active {
      outline: 0;
    }
  }
}


/*
 * Superfish blocks
 */
.block-superfish {

  .block-inner .content {}

  ul {
    margin: 0 !important;
    padding: 0 !important;

    ul {
      ul {
        ul {}
      }
    }
  }

  li {
    margin: 0 !important;
    padding: 0 !important;
  }
}


/*
 * Vertical style
 */
.sf-vertical {
  width: 100%;

  li {
    width: 100%;

    &.last {}

    &:hover ul,
    &.sfHover ul {
      left: 100%;
      top: 0;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 0 10px;
    }
  }
}


/*
 * Navbar style
 */
.sf-navbar {
  padding-bottom: 0 !important;
}


/*
 * Sensible padding for the default style
 */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* 
 * Submenu background
 */

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
    background: url(../images/shadow.png) no-repeat right bottom;
}


/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
// .at-mt is a page class
.at-mt {
  .at-menu-toggle,
  .at-menu-toggle ul,
  .at-menu-toggle ul.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .at-menu-toggle-button {
    margin: 0;
  }

  .at-menu-toggle ul a {
    /*padding: 0 10px;*/
    white-space: nowrap;
  }
}


/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 15px;

  ul {
    padding-left: 15px;

    ul {
      ul {}
    }
  }

  li {
    margin: 0;

    &.collapsed,
    &.expanded,
    &.leaf {}

    a {

      &:link,
      &:visited {
		  color: $dark;
	  }

      &:active,
      &.active {
		  color: $selected;
		}

      &:hover,
      &:focus {
		  color: $selected;
		  }
    }

    &.active a,
    &.active-trail a {
		color: $selected;
		}

    &.first,
    &.last {}
  }
}


/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}


/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-links {}

  .page-previous {}

  .page-next {}

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }

  li.crumb-first {}

  li.crumb-last {}

  a {

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}


.item-list ul.pager li {
  margin: 0;
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}


.block ul.pager li {
  margin: 0;
}


/*
 * Theme the various states of pager links
 */
ul.pager li {

  a {

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }

  &.pager-item {}
  &.first {}
  &.last {}
  &.pager-current {}
  &.pager-first {}
  &.pager-previous {}
  &.pager-next {}
  &.pager-last {}
}


/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}


ul.primary {
  border-bottom-color: $border;
  margin: 20px 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    a {
      background-color: $ultralight;
      border-color: $border;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;

      &:hover,
      &:focus {
        background-color: $light;
        border-color: $border;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
      background-color: $page;
      border-bottom-color: $page;
    }
  }
}


ul.secondary {
  border-bottom: 1px solid $border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}


/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;

  li {}
}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * Wrapper for any field
 */
.field {}


/*
 * Above and inline classes are on the field wrapper
 */
.field-label-above {}


/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {

  /* Remove the margin on inline field lables to preserve vertical formatting */
  .field-label {
    margin: 0;
  }
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}


/*
 * Field types (Core)
 */

/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
.field-type-image {

  .caption {}

  .full-caption {}

  .teaser-caption {}
}


/*
 * Taxonomy
 */
.field-type-taxonomy-term-reference {

  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;

  &.field-label-inline .field-items {
    margin: 0;
    padding: 0;
  }

  &.field-label-inline .field-item {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}

.field-name-field-affiliation {
	margin-bottom: 0.5em;
}


/*
 * Text
 */
.field-type-text {}


/*
 * Long text
 */
.field-type-text-long {}


/*
 * Text with summary
 */
.field-type-text-with-summary {}


/*
 * File
 */
.field-type-file {}


/*
 * Number/Integer
 */
.field-type-number-integer {}


/*
 * Decimal
 */
.field-type-number-decimal {}


/*
 * Number float
 */
.field-type-number-float {}


/*
 * List
 */
.field-type-list-text {}


/*
 * List boolean
 */
.field-type-list-boolean {}


/*
 * List integer
 */
.field-type-list-integer {}


/*
 * List float
 */
.field-type-list-float {}


/*
 * Field types (Contrib)
 */
.field-type-datetime {}

.field-type-node-reference {}

.field-type-user-reference {}


/*
 * Named fields
 */
.field-name-body {}

.field-name-field-image {}

.field-name-field-tags {}


/*
 * Underscores in field name are replaced with dashes
 */
.field-name-field-FIELDNAME {}


/*
 * Image Alignment Theme Settings - included here so you can easily override
 */

/*
 * Float none setting
 */
.ia-n .field-type-image,
.iat-n .field-type-image {}


/*
 * Float left setting
 */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}


/*
 * Centered setting
 */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}


/*
 * Float right setting
 */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}



/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
.block {
  margin-bottom: 20px;
}


/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
.block-inner {}


/*
 * The first block in the region
 */
.block.first {}


/*
 * The last block in the region
 */
.block.last {}


/*
 * Zebra striping for each block in the region
 */
.block.odd {}


/*
 * Zebra striping for each block in the region
 */
.block.even {}


/*
 * Block title
 */
.block-title {
  margin: 0;
}


/*
 * Block content wrapper
 */
.block-content {}


/*
 * Match item list and block menu margin and padding
 */
.block-content {

  ul,
  ol {
    padding: 0 0 0 15px;
  }

  li {
    margin: 0;
    padding: 0;
  }
}


/*
 * Block for the latest news items in the first category
 */
#block-aggregator-category-1 {}


/*
 * Block for the latest news items in the first feed
 */
#block-aggregator-feed-1 {}


/*
 * First block created with "Add block" link
 */
#block-block-1 {}


/*
 * "Recent blog posts" block
 */
#block-blog-recent {}


/*
 * "Book navigation" block for the current book's table of contents
 */
#block-book-navigation {}


/*
 * "Recent comments" block
 */
#block-comment-recent {}


/*
 * "Active forum topics" block
 */
#block-forum-active {}


/*
 * "New forum topics" block
 */
#block-forum-new {}


/*
 * Language switcher block
 */
#block-locale-language {}


/*
 * Custom menu block
 */
#block-menu-menu-NAME {}


/*
 * "Recent content" block
 */
#block-node-recent {}


/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
#block-node-syndicate {}


/*
 * "Most recent poll" block
 */
#block-poll-recent {}


/*
 * "Author information" block for the profile of the page's author
 */
#block-profile-author-information {}


/*
 * "Search form" block
 */
#block-search-form {}


/*
 * "Shortcuts" block
 */
#block-shortcut-shortcuts {}


/*
 * "Popular content" block
 */
#block-statistics-popular {}

/*
 * Language switcher block
 */
 #block-lang-dropdown-language {
	float: right;
	padding: 10px 15px;
	position: relative;
    z-index: 1;
}


/*
 * "Main menu" block
 */
.block-menu.menu-wrapper, .block-superfish.menu-wrapper {
	a {
		font-weight: 700;
		font-size: 1.2em;
		padding: 0 1.2em 0 0;
		line-height: 2.5em;
		text-transform: uppercase;
	}
	.first a {
		width: 32px;
		height: 32px;
		background: url(../images/favicon-32x32.png) no-repeat;
		@include ir;
	}
	.last a {
		padding-right: 0;
	}
	.sf-sub-indicator {
    	background: url(../../../libraries/superfish/images/arrows-777777.png) no-repeat -10px -100px;
    	right:-1px;
	}
}


/*
 * "Management" block for Drupal management menu
 */
#block-system-management {}


/*
 * "Navigation" block for Drupal navigation menu
 */
#block-system-navigation {}


/*
 * "User menu" block for Drupal user menu
 */
#block-system-user-menu {}


/*
 * "System help" block
 */
#block-system-help {}


/*
 * "Main page content" block
 */
#block-system-main {}


/*
 * "Powered by Drupal" block
 */
#block-system-powered-by {}


/*
 * "User login form" block
 */
#block-user-login {}


/*
 * "Who's new" block for a list of the newest users
 */
#block-user-new {}


/*
 * "Who's online" block for a list of the online users
 */
#block-user-online {}


/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 20px;

  &.node-promoted {}

  &.node-sticky {}

  &.node-by-viewer {}

  &.node-teaser {}

  &.node-full {}

  &.odd {}

  &.even {}

  .node-title {
    margin: 0;
  }

  .user-picture {}

  .submitted {

    .username {}

    time {}
  }

  .node-content {}

  ul.links {

    li {}
    li a {}

    li.node-read-more a {}
    li.comment-add a {}
    li.comment-comments a {}
    li.comment-new-comments a {}
    li.blog-sernames-blog a {}
    li.print-html a {}
    li.print-email a {}
    li.print-pdf a {}
  }
}


.preview .node {}


/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page {}

.node-article {}

.node-book {}

.node-forum {}

.node-poll {}


/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;

  h2 {
    &.comment-title {
      margin: 0;
    }

    &.comment-form {
      margin: 0;
    }
  }
}


/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;

  &.first {}

  &.last {}

  &.odd {}

  &.even {}

  .user-picture {}

  .submitted {

    p {}

    .username {}

    time {}
  }

  .user-signature {}

  ul.links {}
}


/*
 * Comment title
 */
.comment-title {
  margin: 0;
}


/*
 * Comment states
 */
.comment-new {}

.comment-by-anonymous {}

.comment-by-node-author {}

.comment-by-viewer {}

.comment-title-hidden {}

.comment-with-picture {}

.comment-with-signature {}


/*
 * Preview of the comment before submitting new or updated comment
 */
.comment-preview {}


/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: $highlight;
}


/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
/* Forms */
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], button, input[type="reset"], input[type="submit"], input[type="button"], input[type="file"] {
	background-color: $ultralight;
	color: $dark;
	max-width: 100%;
	border-radius: 0;
	height: 1.5em;
	padding: 5px;
}

textarea, select, button, input[type="reset"], input[type="submit"], input[type="button"], input[type="file"] {
	height:auto;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
	border-radius: 5px;
}

.form-item {

  input.error,
  textarea.error,
  select.error {
    border: 1px solid $highlight;
  }

  label {
    font-weight: 700;
  }

  label.option {
  }

  .description {
    font-size: 0.85em;
  }

  &.form-checkboxes ,
  &.form-radios {
  }
}

.views-exposed-form .views-exposed-widget {
    padding-right: .5em;
	max-width: 75%;
}

.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 1.2em;
}

/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $highlight;
}


/*
 * The submit button
 */
.form-submit {
}


.container-inline {
  div,
  label {
    display: inline;
  }
}

/* Search box */

#edit-search {
 	background: $ultralight url(../images/search-icon.png) no-repeat center right;
    border: solid 1px #ccc;
    padding-right: 18px;
	width: 75%;
}

#search-api-page-search-form-default input[type="text"] {
	@extend #edit-search;
	text-indent: 9px;
	width: 10px;
 	transition: width 0.5s ease-out;
	float:right;
	&:focus {
		width: 200px;
		 transition: all 0.5s ease-out;
		 position: relative;
		 text-indent: 0;
	}
}

#search-block-form, #block-search-api-page-default {
	input[type="submit"] {
		display: none;
	}
}

/* Search form in nav area */
#edit-search-block-form--2, #block-search-api-page-default {
	margin-top: -60px;
}

.page-search #block-system-main h1 {
	display: none;
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid $border;
}

/*
 * Tips for Drupal's input formats
 */
.tips {
}


/*
 * Buttons used by contrib modules like Media
 */
a.button {
  @include appearance(button);
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;

  &.sticky-header {
    z-index: 10;
  }
}


table,
thead,
tbody,
tr,
th,
td {
  border-color: $border;
}


table,
td,
th {
  vertical-align: middle;
}


caption,
th,
td {
  text-align: left;
}


thead tr {
  font-weight: 700;
  background-color: $medium_dark;
}


td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}


tbody {}


tbody tr {
  border-top: 1px solid $border;
}


tr {

  &.odd {
    background: $page;
  }

  /* Table row striping */
  &.info,
  &.even,
  &:nth-child(2n+2)  {
    border-bottom: 0;
    background-color: $ultralight;
  }

  &.drag {}

  &.drag-previous {}

  &.odd td.active {
    background-color: $light;
  }

  &.even td.active {
    background-color: $medium_light;
  }
}


.lt-ie8 tr {

  &.even,
  &.odd {

    th,
    td {
    }
  }
}

/* Responsive tables */

table.views-view-grid, table.views-view-grid tbody, table.views-view-grid tbody tr, table.views-view-grid tbody tr td, table.views-view-grid tbody tr td a, table.views-view-grid tbody tr td a img, table.views-view-grid tbody tr td img {
  display:block;
  border-bottom: none;
}
table.views-view-grid tr {
  clear: left;
}

table.views-view-grid td {
    vertical-align: top;
    /*padding-bottom: 20px;*/
    margin-right:5px;
    float: left;
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {
  &.created,
  &.posts,
  &.topics,
  &.last-reply,
  &.replies,
  &.pager {
    white-space: normal;
  }
}


/* Logo grid */

.view-partners table {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	tr {
		border: none;
		background-color: $page;
	}
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
  // Left and right margin are set by the global gutter width
  margin-bottom: 10px;
  margin-top: 10px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.status {
  }

  &.warning {
  }
}

tr.warning {
}


div.error,
tr.error {
}


.error {
}


.warning {
}


/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {
}


.node-unpublished,
.comment-unpublished {

  p.unpublished {
    @include unpublished;
  }
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 40px 0;
  }

  #site-name,
  #page-title {
    margin: 0;
  }
}


.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }

  div.messages {
    margin: 20px 0 0;
  }

  #content {
    padding: 20px 0;
  }
}


/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}


/*
 * Devel Module
 */
.dev-query {
  background: $light;
  padding: 30px;
}


/*
 * Styleguide module tweaks
 */
#styleguide-header {
  padding: 0 10px;

  .item-list {
    font-family: inherit;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}

/* IIED banner menu */

.region-leaderboard ul.menu {
	min-height: 49px;
	background: url(../images/dark_bg.png) repeat-x left top;
	width: 100%;
	li {
		display:inline-block;
		line-height: 49px;
		padding-left: 15%;
		a {
			display:block;
			color: $page;
			font-weight:700;
		}
	}
	li.first {
		padding-left: 0;
		a {
			text-indent: -99999px;	
		}
	}
	li.leaf {
		padding-top: 0;
	}
}

/* Publication nodes */

.field-name-download-button, .region-sidebar-first .field-name-field-link {
    text-align: center;
    margin: 1em 0;
}

.download, .region-sidebar-first .field-name-field-link .field-item a {
    text-decoration: none;
    padding: .5em;
    border: solid 1px $medium_light;
    background-color: $darkyellow;
    color:$page !important;
    font-weight:bold;
}

/* Related resources block */

#block-views-related-resources-block {
	border-top: solid 1px $medium_light;
	margin-top: 2em;
	h2.block-title {
		line-height: 2em;
	}
}

/* Thumbnails */

.field-name-ds-user-picture,
.view-mode-teaser .field-name-field-cover-image,
.view-mode-teaser .field-name-field-videoembed,
.vocabulary-partners.view-mode-taxoteaser .field-name-field-image,
.view-mode-full img.shrinktheweb,
.view-id-links img.shrinktheweb,
.vocabulary-partners.view-mode-full .field-name-field-image {
  float: left;
  margin: 0 10px 10px 0;
  width: 120px;
   img {
     border: solid 1px $ultralight;
   }
}

/* Cover images */

.field-name-cover-medium {
	border: solid 1px $ultralight;
}

/* Search results */

.search-results .article,
.view-search {
	border-bottom: solid 1px $ultralight;
	padding: 0 10px 10px 130px;
	.field {
		padding: 0;
	}
	.field-name-field-image,
	.field-type-image,
	.field-name-cover-thumbnail {
		@extend .field-name-ds-user-picture;
		@extend .field-name-cover-medium;
		padding-left:0;
		margin-left: -130px;
	}
  h3.browse {
    margin: 0 0 0 -130px;
  }
}
	span.meta {
		display: inline;
 		padding: 0 5px 0 0;
 		&::after {
 			content:" |";
 		}
 		&:last-of-type::after {
 			content:"";
 		}
	}
	.more-link {
		float:right;
	}

.view-mode-teaser, 
.view-id-partners.view-display-id-page_1 {
  .field-name-cover-thumbnail,
  .field-name-field-cover-image, 
  .field-name-field-material-type, 
  .field-name-content-type, 
  .field-name-field-no-of-pages,
  .field-name-field-author-s-,
  .field-name-author,
  .field-name-field-file,
  .views-field-field-image
   {
     @extend .field-name-ds-user-picture;
  }
  .field-name-field-material-type, 
  .field-name-content-type,
  .field-name-field-no-of-pages,
  .field-name-field-author-s-,
  .field-name-author {
    width: auto !important;
  }
}


.view-mode-search_result, .view-mode-teaser {
   .field-name-title h2 {
     margin-top: 0;
   }
}

.field-type-taxonomy-term-reference ul {
	list-style:none;
	margin: 0;
	padding: 0;
	li {
  		display: inline;
  		margin-right: 10px;
	}
}

/* Image caption, material type overlays, yellow boxes */

.image-caption {
	text-align: center;
	margin: auto;
	color: $medium-dark;
}

.caption,
.view-id-city_cases {  
    float:left; 
    position:relative;
}

.box {
	padding: 0.5em 10px !important;
	width: auto;
	background: $transyellow;
	color: #fff !important;
	display: inline-block;
	position:relative;
}

#block-block-8,
#block-views-home-block-2 {
	@extend .box;
	background:$lightyellow;
	a {
		color: #fff;
	}
}

.caption p,
.view-id-city_cases .flex-caption a,
.view-id-city_cases .views-field-name a,
.view-id-city_cases .views-field-name-i18n a {
	@extend .box;
	left: 0;
	top: 0;
	position:absolute;
}

.view-id-city_cases .flex-caption a {
	top: auto;
	bottom: 0;
	height: 3em;
}

.view-mode-grid .box {
	top: -2.5em;
}

.view-mode-grid .field-name-title {
	margin-top: -2.5em;
	min-height: 6em; /*4-deck titles*/
}

/* Tagclouds */

.tagclouds-term {
  padding: 4px 8px;
  border: solid 1px $medium_light;
  background-color: $medium_light;
  line-height: normal;
  display: inline-block;
  margin: 3px;
  a {
   text-decoration: none; 
  }
  @include border-radius(5px);
}


/* Sliders */

.view-id-partners.view-display-id-block_1 .flexslider .slides > li {
	margin: 10px 33px;	
	max-width: 120px;
}

ul.slides {
	padding-left: 0;
}

.flex-control-nav {
	width: 99%;
	li {
		margin: 0 6px;
	}
}

.flexslider .flex-direction-nav a {
	height: 50px;
	&:link,
	&:visited,
	&:hover,
    &:focus,
	&:before { 
      color: $darkyellow;
	}
}

.view-id-city_cases .flexslider {
	border: none;
}

/* Mobile sliding menu */

.mmenu-nav.mm-basic {
    z-index: 10000;
    background: white;
    color: $iiedlinkblue;
    text-shadow: none;
    font-family: $sans-serif-arial-helvetica;
    font-size: 12px;
}

.mmenu-nav.mm-basic > .mm-header,
.mmenu-nav.mm-basic > .mm-list li.mmenu-expanded .mmenu-block-expanded {
    color: $iiedlinkblue;
  	background: white;
	border-bottom: 1px solid $ultralight;
}

.mmenu-nav.mm-basic > .mm-header .mm-title {
    font-size: 1.5em;
    padding: 0 10%;
    width: 80%;
    text-align: center;
}

.mmenu-nav.mm-basic > .mm-list li {
    border-top: none;
    border-bottom: 1px solid $ultralight;
}


#block-menu-menu-footer-menu ul {
	margin-top: 0;
}

#block-menu-menu-footer-menu li {
	float: left;
	width: 48%;
	list-style-image: none;
	list-style-type: none;
}

/* Views rows */

.views-row {
    margin-bottom: 1em;
}

.view-mode-grid h2 {
  	font-size: 1.1em;
}

/* FacetAPI */

ul.facetapi-facetapi-checkbox-links {
	@extend .links;
	li {
		display: block;
		margin-left: 0;
		padding: 0;
	}
}

/* Standfirst */


.field-name-field-standfirst {
	color: $dark;
	font-size: 1.2em;
}

.node-type-blog .field-name-field-standfirst {
	@extend .field-name-field-standfirst;
	clear: both;	
}

.view-mode-grid, .view-mode-teaser {
	 .field-name-field-standfirst {
		@extend .field-name-field-standfirst;
		font-size: 1em;
		color: $text;
	 }
}

/* Survey in Leaderboard */

#block-block-11 {
	display: inline-block;
	float: right;
	margin: 0.25em;
	padding: 10px 0;
	z-index: 1;
	position: relative;
}


/* Cookie compliance buttons */

#sliding-popup .popup-content #popup-buttons button {
   background: #585858;
   color: white;
   border: none;
   border-radius: 0;
   text-shadow: none;
   box-shadow: none;
   padding:5px 7px;
}

#sliding-popup .popup-content #popup-buttons button:hover {
  background: #dfdfdf;
  color: #777777;
}
